# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [4]:
chipo["float_price"] = chipo["item_price"].str.translate(str.maketrans("", "", "$,")).astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,float_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [9]:
chipo[chipo["float_price"] / chipo["quantity"] > 10].groupby("item_name")["item_price"].min()

item_name
Barbacoa Bowl            $11.48
Barbacoa Burrito         $11.08
Barbacoa Crispy Tacos    $11.48
Barbacoa Salad Bowl      $11.89
Barbacoa Soft Tacos      $11.48
Carnitas Bowl            $11.08
Carnitas Burrito         $11.08
Carnitas Crispy Tacos    $11.75
Carnitas Salad Bowl      $11.89
Carnitas Soft Tacos      $11.75
Chicken Bowl             $10.58
Chicken Burrito          $10.58
Chicken Crispy Tacos     $10.98
Chicken Salad            $10.98
Chicken Salad Bowl       $11.25
Chicken Soft Tacos       $10.98
Steak Bowl               $11.08
Steak Burrito            $11.08
Steak Crispy Tacos       $11.75
Steak Salad Bowl         $11.89
Steak Soft Tacos         $11.48
Veggie Bowl              $10.98
Veggie Burrito           $10.98
Veggie Salad Bowl        $11.25
Veggie Soft Tacos        $11.25
Name: item_price, dtype: object

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [11]:
chipo["unit_price"] = chipo["float_price"] / chipo["quantity"]
chipo[["item_name","unit_price"]].drop_duplicates()

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
9                             Steak Burrito        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
13                             Chicken Bowl       11.25
16                          Chicken Burrito        8.49
18                              Canned Soda        1.09
19                             Chicken Bowl        8.75
21                         Barbacoa Burrito        8.99
23                          Chicken Burrito       10.98
27                         Carnitas Burrito        8.99
31                            Steak Burrito        8.99
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
49                      Chips and Guacamole        3.99
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
...                                     ...         ...
1229                    Barbacoa Salad Bowl       11.89
1353                       Steak Soft Tacos       11.75
1395                      Veggie Soft Tacos        8.49
1414                                  Salad        7.40
1418                    Barbacoa Salad Bowl        9.39
1648                       Barbacoa Burrito       11.08
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
1721                       Steak Soft Tacos       11.48
1863                            Veggie Bowl       10.98
1865                    Carnitas Salad Bowl        9.39
1963                    Carnitas Soft Tacos       11.75
2231                     Steak Crispy Tacos       11.75
2884                       Carnitas Burrito       11.08
2918                           Chicken Bowl        8.19
2919                           Chicken Bowl       10.58
2944                          Side of Chips        1.69
2968                          Chicken Salad        8.49
3156                       Barbacoa Burrito        8.69
3184                    Barbacoa Soft Tacos       11.48
3195                          Barbacoa Bowl        8.69
3252                       Carnitas Burrito        8.69
3276                       Barbacoa Burrito       11.48
3502                            Steak Salad        8.69
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4237                    Chips and Guacamole        4.25
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [12]:
_.sort_values("item_name")

                  item_name  unit_price
298       6 Pack Soft Drink        6.49
4510          Barbacoa Bowl       11.49
471           Barbacoa Bowl       11.48
115           Barbacoa Bowl        8.99
39            Barbacoa Bowl       11.75
3195          Barbacoa Bowl        8.69
95            Barbacoa Bowl        9.25
81         Barbacoa Burrito        9.25
21         Barbacoa Burrito        8.99
1648       Barbacoa Burrito       11.08
130        Barbacoa Burrito       11.75
3156       Barbacoa Burrito        8.69
3276       Barbacoa Burrito       11.48
429   Barbacoa Crispy Tacos       11.48
255   Barbacoa Crispy Tacos        9.25
168   Barbacoa Crispy Tacos       11.75
1019  Barbacoa Crispy Tacos        8.99
1229    Barbacoa Salad Bowl       11.89
1418    Barbacoa Salad Bowl        9.39
268     Barbacoa Soft Tacos        8.99
3184    Barbacoa Soft Tacos       11.48
56      Barbacoa Soft Tacos        9.25
988     Barbacoa Soft Tacos       11.75
329           Bottled Water        1.50
34            Bottled Water        1.09
445                    Bowl        7.40
673                    Bowl        7.40
510                 Burrito        7.40
18              Canned Soda        1.09
263       Canned Soft Drink        1.25
...                     ...         ...
147           Steak Burrito       11.48
728           Steak Burrito        8.69
7             Steak Burrito       11.75
437      Steak Crispy Tacos        8.99
729      Steak Crispy Tacos        8.69
92       Steak Crispy Tacos        9.25
2231     Steak Crispy Tacos       11.75
664             Steak Salad        8.99
3502            Steak Salad        8.69
607        Steak Salad Bowl        9.39
281        Steak Salad Bowl       11.89
65         Steak Soft Tacos        8.99
1353       Steak Soft Tacos       11.75
8          Steak Soft Tacos        9.25
1721       Steak Soft Tacos       11.48
1863            Veggie Bowl       10.98
62              Veggie Bowl       11.25
253             Veggie Bowl        8.75
85              Veggie Bowl        8.49
57           Veggie Burrito       11.25
104          Veggie Burrito        8.49
623          Veggie Burrito        8.75
435          Veggie Burrito       10.98
1653    Veggie Crispy Tacos        8.49
1694           Veggie Salad        8.49
186       Veggie Salad Bowl       11.25
960       Veggie Salad Bowl        8.75
1395      Veggie Soft Tacos        8.49
738       Veggie Soft Tacos       11.25
781       Veggie Soft Tacos        8.75

[139 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [14]:
chipo.sort_values("float_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,float_price,unit_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,2.95

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [16]:
chipo.loc[chipo["item_name"] == "Veggie Salad Bowl", "quantity"].sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [17]:
chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)].shape[0]

20